.navbar {
  margin-bottom: 5px;
}

.fl-item {
  margin-bottom: 20px;
}

.fl-item-disc {
  margin-left: 20px;
  color: dimgray;
}

.training-card {
  margin-bottom: 21px;
}

.training-card-content {
  min-height: 350px;
  height: 100%;
  padding: 0 4vw;
}

.fl-logo {
  max-width: 100%;
  max-height: 100%;
}